DROP DATABASE IF EXISTS apple_vision;
CREATE DATABASE apple_vision;
USE apple_vision;

-- ================= CUSTOMER =================
CREATE TABLE Customer (
                          customer_id VARCHAR(4) PRIMARY KEY,
                          name VARCHAR(100) NOT NULL,
                          nic VARCHAR(12) NOT NULL,
                          email VARCHAR(100) NOT NULL,
                          contact VARCHAR(20) NOT NULL,
                          address VARCHAR(255) NOT NULL
);

-- ================= USER (escaped) =================
CREATE TABLE `User` (
                        user_id VARCHAR(4) PRIMARY KEY,
                        username VARCHAR(100) NOT NULL,
                        password VARCHAR(100) NOT NULL,
                        email VARCHAR(100) NOT NULL,
                        job_role ENUM('Admin','Manager','Receptionist') NOT NULL,
                        status ENUM('Active','Inactive') DEFAULT 'Inactive'
);

INSERT INTO `User` (user_id, username, password, email, job_role, status)
VALUES
    ('U001','Admin','admin123','shaluka@gmail.com','Admin','Active'),
    ('U002','shaluka','2003','shalukaranhinda@gmail.com','Receptionist','Inactive');

-- ================= PRODUCT =================
CREATE TABLE Product (
                         product_id VARCHAR(4) PRIMARY KEY,
                         name VARCHAR(100) NOT NULL,
                         category VARCHAR(100) NOT NULL,
                         brand VARCHAR(100) NOT NULL,
                         warranty VARCHAR(50) NOT NULL,
                         price DECIMAL(10,2) NOT NULL
);

-- ================= STOCK =================
CREATE TABLE Stock (
                       stock_id VARCHAR(4) PRIMARY KEY,
                       product_id VARCHAR(4),
                       quantity INT,
                       last_update DATE,
                       FOREIGN KEY (product_id) REFERENCES Product(product_id)
);

-- ================= SUPPLIER =================
CREATE TABLE Supplier (
                          supplier_id VARCHAR(4) PRIMARY KEY,
                          name VARCHAR(100) NOT NULL,
                          nic VARCHAR(12) NOT NULL,
                          email VARCHAR(100) NOT NULL,
                          contact VARCHAR(20) NOT NULL,
                          address VARCHAR(255) NOT NULL
);

-- ================= PURCHASE =================
CREATE TABLE Purchase (
                          purchase_id VARCHAR(4) PRIMARY KEY,
                          supplier_id VARCHAR(4),
                          purchase_date DATE,
                          quantity INT,
                          product_id VARCHAR(4),
                          FOREIGN KEY (supplier_id) REFERENCES Supplier(supplier_id),
                          FOREIGN KEY (product_id) REFERENCES Product(product_id)
);

-- ================= ORDERS =================
CREATE TABLE Orders (
                        order_id VARCHAR(4) PRIMARY KEY,
                        customer_id VARCHAR(4),
                        user_id VARCHAR(4),
                        order_date DATE,
                        status VARCHAR(50) NOT NULL,
                        total_amount DECIMAL(10,2) NOT NULL,
                        FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
                        FOREIGN KEY (user_id) REFERENCES `User`(user_id)
);

-- ================= ORDER DETAILS =================
CREATE TABLE Order_Details (
                               order_details_id VARCHAR(4) PRIMARY KEY,
                               order_id VARCHAR(4),
                               product_id VARCHAR(4),
                               quantity INT,
                               price DECIMAL(10,2) NOT NULL,
                               FOREIGN KEY (order_id) REFERENCES Orders(order_id),
                               FOREIGN KEY (product_id) REFERENCES Product(product_id)
);

-- ================= PAYMENT =================
CREATE TABLE Order_Payment (
                               payment_id VARCHAR(4) PRIMARY KEY,
                               order_id VARCHAR(4),
                               payment_method VARCHAR(50) NOT NULL,
                               amount DECIMAL(10,2) NOT NULL,
                               payment_date DATE,
                               reference_no VARCHAR(100) NOT NULL,
                               FOREIGN KEY (order_id) REFERENCES Orders(order_id)
);

-- ================= BILLING =================
CREATE TABLE Billing (
                         bill_id VARCHAR(4) PRIMARY KEY,
                         order_id VARCHAR(4),
                         payment_id VARCHAR(4),
                         amount DECIMAL(10,2) NOT NULL,
                         billing_date DATE,
                         FOREIGN KEY (order_id) REFERENCES Orders(order_id),
                         FOREIGN KEY (payment_id) REFERENCES Order_Payment(payment_id)
);

-- ================= SMS / EMAIL =================
CREATE TABLE SMS_Email (
                           msg_id VARCHAR(4) PRIMARY KEY,
                           order_id VARCHAR(4),
                           type VARCHAR(50) NOT NULL,
                           sent_date DATE,
                           customer_contact VARCHAR(50) NOT NULL,
                           FOREIGN KEY (order_id) REFERENCES Orders(order_id)
);

SHOW TABLES;
